html {
background: #d4d2d2 !important;
}

body > header {
background: #4682B4 !important;
}

.blog-index {
background: white !important;
}

body > header h1 a {
color: white !important;
}

.heading {
  font-family: "Bitstream Vera Sans", "Verdana", sans-serif
}

